*{
  margin:0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.m-plus-rounded-1c-regular {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.m-plus-rounded-1c-medium {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.m-plus-rounded-1c-bold {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
  font-style: normal;
}


header{
  position: fixed;
  top: 0; /*上はじから*/
  left: 0; /*左端から*/
  width: 100%; /*サイズ*/
  min-width: 5vh;
  padding: 1vw; /*枠のサイズ*/
  background-color:rgba(255, 245, 232, 0.7); /*背景の色*/
  color: #ff8f34; /*フォントの色*/
  display: flex;
  flex-direction: row;
  z-index: 999;
}
header h1{
  font-size: 2.5vw;
}
header a{
  font-size: 1.2vw;
}

h1{
  margin-right: auto;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2{
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  font-style: normal;
}

p,a,div{
  font-family: "M PLUS Rounded 1c", sans-serif;
}

nav {
  margin-right: 40px;
}

nav ul {
  display: flex; /*横並びにする*/
  flex-direction: row;
  justify-content: space-between;
  margin-right: 2.5rem;
}

nav ul li{
  margin: 0 .5rem;
}

nav a{
  color: #ff8f34;
}

#wrapper {
  margin-top: 8vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

#mainVisual{
  position: relative;
  text-align: center;
  margin-bottom: 1rem;
}
#mainVisual img{
  width:25%;
  margin-bottom: 2rem;
}

.balloon1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 120px;
  height: 130px;
  top: 150px;
  right: 250px;
  color: rgb(20,20,20);/* バルーン内テキスト色 */
  box-shadow: 12px 10px 15px -10px rgb(0,0,0,.2);
  border-radius: 100%;
  background: rgb(231,172,178);
  font-weight: bold;
  font-size: 16px;/* バルーン内テキスト大きさ */
  transform: rotate(-6deg);
}
.balloon1::before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  width: 1px;
  height: 30px;
  margin: auto;
  background: black;
}
.balloon1::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  margin: auto;
  border-style: solid;
  border-width: 0 10px 20px 10px;
  border-color: transparent transparent rgb(231,172,178) transparent;/* rgb(231,172,178)はバルーン背景色と同じ色 */
  border-radius: 4px;
}

#home{
  position:relative;
  
}
#home h1{
  position: absolute;/*重ねたい子要素にabsolute*/
  top:5em;
  left: 50%;
  transform: translate(-50%,-50%);/*センター寄せの修正*/
  color: #fff;
  font-size: 6.2vw;
  /*margin: 0!important;/*文字がずれている場合や*/
  /*padding: 0!important;/*文字が折り返される場合*/
}

#home h2{
  position: absolute;/*重ねたい子要素にabsolute*/
  top: 14.5em;
  left: 50%;
  transform: translate(-50%,-50%);/*センター寄せの修正*/
  color: #fff;
  font-size: 3.3vw;
  /*margin: 0!important;/*文字がずれている場合や*/
  /*padding: 0!important;/*文字が折り返される場合*/
}
#home img{
  width: 100%;
}

#home2{
  background-color: #fcf9f5;
  text-align: center;
}

#home2 p{
  writing-mode: vertical-rl;
  display: inline-block;
  height: 400px;
  text-align: left;
  font-size: 20px;
  margin-top: 2rem;
}

#home2 img{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

section {
  padding: 40px;
}

section h2{
  text-align: center;
  margin-bottom: 1rem;
}

#info{
  text-align: center;
  background-color: #fdf3e0;
  height: 1000px;
}

#info img{
  width: 300px;
  margin-bottom: 1rem;
}

.balloon2 {
  margin: auto; /*吹き出しを中央に位置*/
  margin-top: 2rem; /*上の余白*/
  display: flex; /*flexでレイアウト*/
  justify-content: center; /*並列の左右方向の中央寄せ*/
  position: relative;
  max-width: 300px;
  margin-bottom: 15px; /*下の余白*/
  padding: .8em 1.2em;
  border-radius: 20px; /*角を丸くする*/
  background-color: #f7dafb; /*吹き出しの背景色*/
  color: #3d3d3d; /*吹き出しのテキストカラー*/
}

.balloon2::before {
  position: absolute;
  bottom: -15px;
  width: 30px;
  height: 15px;
  background-color: #f7dafb;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: '';
}

#about{
  height: 850px;
  background-color: #fcf9f5;
}

#about p{
  text-align: center;
}

#cards{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.card{
  width: 300px;
  height: 315px;
}

.card:nth-child(2){
  margin-right: 10px;
  margin-left: 10px;
}

.picture img{
  width: 100%;
  border-radius: 10px;
}

.description{
  width: 100%;
  height: 145px;
  padding-right: 12px;
  padding-left: 12px;
  box-sizing: border-box;
}

.number{
  font-size: large;
  margin-top: 1rem;
  position: relative;
}

.number::before{
  content:attr(data-number);
  display: inline-block;
  margin-right: 10px;
  color: #498ee0;
  border-bottom: 1px solid #498ee0;
}

.episode{
  text-align: center;
}

.waku{
  background: #fee9ee; 
  box-shadow: #fceff2 0 0 10px 10px; 
  margin-top:20px; 
  font-size: 80%; 
  padding: 5px 5px 5px 8px;
}

#kudamono{
  background-color: #fdf3e0;
  height: 1100px;
  text-align: center;
}

.item{
  overflow: hidden;
  position: relative;
}

.item img{
  border-radius: 5px; /*角を丸くする*/
}
.item .caption { /*文字設定*/
	font-size:		100%;
	color:			#fff;
  text-align: center;
	padding-top:		15px;
	/*padding-left:		0px;*/
}
.item .mask {
	width:			84%; /*マスクの幅*/
	height:			75%; /*マスクの高さ*/
	position:		absolute;
	top:			20px;
	left:			20px;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);
  border-radius: 5px; /*角を丸くする*/
	/*-webkit-*/transition:	all 0.6s ease; /*時間経過による変化（プロパティ　秒数　変化のさせ方*/
}
.item:hover .mask {
	opacity:		1;	/* マスクを表示する */
	padding-top:		10px;	/* 右にずらす */
}

button {
  /* ブラウザ特有のスタイルを無効に */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  /* 整える */
  margin: 1em 0; /* 前後の隙間 */
  padding: 1em 2em; /* 塗りの余白 */
  font-size: 1em; /* フォントサイズ */
  background-color: #fd6a0e; /* 背景色 */
  color: #FFF; /* テキストカラー */
  cursor: pointer; /* カーソルを指マークに */
  border-radius: 5px; /* 角の丸み */
  border: 0; /* 枠線を消す */
  transition: 0.3s; /* ホバーの変化を滑らかに */
}

/* ホバー時（カーソルをのせた時）の見た目 */
button:hover {
  background-color: #fab82a; /* 背景色 */
}

.container{
  display:grid;
  grid-template-columns: 250px 250px 250px;
  gap: 10px;
  grid-template-rows: 280px 280px 280px;
  justify-content: center;
}
.item{
  background-color: transparent;
  color: #000;
  padding: 20px;
}

.item img{
  width: 100%;
}

#schedule{
  background-color: #fcf9f5;
}

#schedule p{
  text-align: center;
}

#schedule img{
  width: 70%;
}

#reviews{
  height: 700px;
  background-color: #fbf6ea;
}

#reviews h2{
  margin-bottom: 2rem;
}

.balloon-all{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

/* 吹き出し本体 */
.balloon3{
  position: relative;
  padding: 20px;
  background-color: #c4feb5;
  border-radius: 10px;
  box-shadow: 6px 6px 0px 0px #66c564; /* 吹き出し本体の影 */
  margin-bottom: 2rem;
}
/* 三角アイコン */
.balloon3::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 27px;
  bottom: -18px;
  border-top: 15px solid #66c564;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}
/* 三角アイコンの影 */
.balloon3::after{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 20px;
  bottom: -15px;
  border-top: 15px solid #bdffad;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}

#instagram{
  background-color: #fcf9f5;
}

#instagram h2{
  margin-bottom: 2rem;
}

.insta{
  display: flex;
  justify-content: center;
}

.toukou{
  width: 25%;
  border-radius: 5px; /* 角の丸み */
  margin: 0 10px 10px 10px;
}

#links{
  height: 500px;
  text-align: center;
  background: #fdf3e0;
  color: #2f2f2f;
  font-family: 'Open Sans';
}
#links h2{
  margin-bottom: 4rem;
}

#links form{
  width: 50%;
  margin: 10px auto;
  min-width: 9rem;
}

#links input,textarea{
  float:left;
  width:100%;
  max-width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: darken(#f9f9f9,10%);
  color:darken(#f9f9f9,50%);

  &[type=submit] {
    background: #84AD47;
    color: #fff;
    width: auto;
    float: right;
  }

  &::placeholder {
    color:darken(#f9f9f9,50%);
  }
  
  &.error {
    background:#AD4747;
    color: #fff;
    &::placeholder {
      color: darken(#AD4747, 60%);
    }
  }
}

#links textarea {
  height: 10rem;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url() format('woff');
}

footer{
  padding: 30px; /*枠のサイズ*/
  background-color: #fdf3e0;
  color: #000;
}

.footer01{
  display: flex;
  justify-content: center;
}
.item2{
  padding: 0 20px;

}

/*家族の紹介ページ*/
#kazoku{
  text-align: center;
}

#kazoku h2{
  margin-top: 10rem;
  margin-bottom: 2rem;
}

#kazoku2{
  display: flex;
  flex-wrap: wrap;
  margin: 0 50px 200px;

}

.heading03 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	text-align: center;
}

.heading03::before,
.heading03::after {
	content: '';
	width: 70px;
	height: 3px;
	background-color: #f9bcd6;
}

.heading03::before {
	margin-right: 20px;
}
.heading03::after {
	margin-left: 20px;
}

#kazoku p {
  margin-bottom: 3rem;
}

.box {
  flex: 0 0 30%;
  box-sizing: border-box; /* ボーダーとパディングを含めて計算 */
  padding: 10px;
  margin: 20px 100px;
  color: #565656;
  background: #ffeaea;
  box-shadow: 0px 0px 0px 10px #ffeaea;
  border: dashed 2px #ffc3c3;
  border-radius: 8px;
}

.syoukai{
  padding: 40px;
}

.heading {
	position: relative;
	padding-top: 20px;
	padding-left: 10px;
}

.heading span {
	position: relative;
	z-index: 2;
}

.heading::before {
	content: attr(data-en);
	position: absolute;
	transform: rotate(-5deg);
	top: -30px;
	left: -30px;
	color: rgba(224,66,114,0.6);
	font-size: 30px;
	font-weight: 400;
	font-family: luxus-brut, cursive;
	font-style: italic;
}